<fieldset class="box tabular">
  <% if @rate.new_record? %>
    <legend><%= l(:label_rate_new) %></legend>
  <% end %>

  <% if @rate.user.nil? %>
  <p>
    <%= f.label :user_id %>
    <%= f.select :user_id, User.active.map { |u| [u.name, u.id.to_s] } %>
  </p>
  <% else %>
  <%= f.hidden_field :user_id %>
  <% end %>

  <p>
    <%= f.label :project_id %>
    <%= project_select_tag(@rate) %>
  </p>

  <% unless @rate.new_record? %>
  <p>
    <%= f.label :date_in_effect, l(:label_date) %>
    <%= f.text_field :date_in_effect, size: 10 %>
    <%= calendar_for('rate_date_in_effect') %>
  </p>
  <% end %>
  <p>
    <%= f.label :amount, value: l(:label_rate) %>
    <%= f.text_field :amount, size: 10 %>
  </p>
</fieldset>

<script>
  $('#new_rate select').on('change', function() {
    $.ajax({
      type: 'POST',
      dataType: 'script',
      url: '<%= rate_update_form_path %>',
      data: $('#new_rate').serialize()
    });
  });
</script>
