<fieldset class="box tabular">
  <p>
    <%= f.label :project_id %>
    <%= f.select :project_id,
        project_options_for_select_with_selected(Project.active, @rate.project) %>
  </p>
  <p>
    <%= f.label :amount, value: l(:label_rate) %>
    <%= f.text_field :amount, size: 10 %>
  </p>
</fieldset>

<%= f.hidden_field :user_id %>
