<fieldset class="box tabular">
  <legend><%= l(:label_rate_new) %></legend>
  <p>
    <%= f.label :project_id %>
    <%= project_select_tag(@project) %>
  </p>
  <p>
    <%= f.label :amount, value: l(:label_rate) %>
    <%= f.text_field :amount, size: 10 %>
  </p>
</fieldset>

<%= f.hidden_field :user_id %>
