<h3 class="title"><%= l(:label_new_rate) %></h3>

<%= form_for(@rate, remote: true) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <p class="buttons">
    <%= submit_tag l(:button_add), name: nil %>
    <%= submit_tag l(:button_cancel), name: nil, type: 'button',
        onclick: "hideModal(this);" %>
  </p>
<% end %>
