<%= form_tag({}, method: :get, id: 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render partial: 'queries/filters', locals: { query: @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr>
          <td><label for='group_by'><%= l(:field_group_by) %></label></td>
          <td><%= select_tag('group_by',
                  options_for_select(
                  [[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                  @query.group_by)
                  ) %></td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>
<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), '$("#query_form").submit();', class: 'icon icon-checked' %>
  <%= link_to l(:button_clear), { set_filter: 1, project_id: @project }, class: 'icon icon-reload'  %>
</p>
<% end %>

<%= error_messages_for 'query' %>
